<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/new" class="add-recipe button">Add Recipe</a>
    <a href="/" class="button">All Recipes</a>
    <a href="/" class="button">My Recipes</a>
    <a href="/" class="button">Saved Recipes</a>
    <a href="/" class="button">Log In</a>
  </nav>
  
  <main>