<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <% if(user) { %>
      <a href="/new" class="add-recipe button <%- title === 'Add Recipe' ? 'active' : '' %>">Add Recipe</a>
      <a href="/recipes" class="button <%- title === 'All Recipes' ? 'active' : '' %>">All Recipes</a>
      <a href="/" class="button<%- title === 'My Recipes' ? ' active' : '' %>">My Recipes</a>
      <a href="/logout" class="button">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="add-recipe button">Add Recipe</a>
      <a href="/auth/google" class="button">Log In</a>
    <% } %>
  </nav>
  
  <main>