<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>
  <nav>
    <% if(user) { %>
      <a href="/recipes/new" class="add-recipe-btn btn <%- title === 'Add Recipe' ? 'active' : '' %>">Add Recipe</a>
      <a href="/recipes" class="btn <%- title === 'All Recipes' ? 'active' : '' %>">All Recipes</a>
      <a href="/logout" class="btn">Log Out</a>
    <% } else { %>
      <a href="/auth/google" class="add-recipe-btn btn">Add Recipe</a>
      <a href="/recipes" class="btn <%- title === 'All Recipes' ? 'active' : '' %>">All Recipes</a>
      <a href="/auth/google" class="btn">Log In</a>
    <% } %>
  </nav>
  
  <main>