<%- include('./partials/header') %>


<div class="container">
  <h1 class="title-card"><%= title %></h1>
  <div class="recipe-card">test</div>
  <div class="recipe-card">test</div>
  <div class="recipe-card">test</div>
  <div class="recipe-card">test</div>
</div>
  
<%- include('./partials/footer') %>