body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body > nav {
  grid-area: nav;
  background-color: lightseagreen;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

button {
  background-color: seagreen;
  color: white
}

.add-recipe {
  object-fit: contain;
  margin-right: auto;
  background-color: red;
}