:root {
  --title-card-height: 150px;
  --recipe-card-height: 100px;

  --main-bg: rgb(150, 196, 235);
  --header-bg: rgb(143, 215, 207);
  --add-recipe-btn-bg: rgb(210, 69, 92);
  --btn-bg: rgb(36, 174, 159);
  --btn-border-width: 2px;
  --title-card-bg: rgb(145, 188, 179);
  --recipe-bg: rgb(143, 215, 207);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--main-bg);
}

body > nav {
  border-radius: .5rem;
  grid-area: nav;
  background-color: var(--header-bg);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.btn {
  background-color: var(--btn-bg);
  color: white;
  text-decoration: none;

  border: solid var(--btn-border-width) var(--btn-bg);
  border-radius: .25rem;

  padding: .5rem 1rem;
  text-align: center;
}

.round-btn {
  background-color: white;
  border: solid gray var(--btn-border-width);
  border-radius: 50%;
}

.round-btn:hover {
  opacity: .5;
}

.btn:hover {
  opacity: .5;
  border: solid 2px;
}

.btn.active:hover {
  border: solid 2px;
}

.add-recipe-btn {
  object-fit: contain;
  margin-right: auto;
  background-color: var(--add-recipe-btn-bg);
  border-color: var(--add-recipe-btn-bg);
}

.add-recipe-btn:hover {
  opacity: .5;
}

.active {
  border: solid var(--btn-border-width);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title-card {
  background-color: var(--title-card-bg);
  color: white;

  border-radius: calc(var(--title-card-height) / 2);
  padding: 10px 25px;
  font-size: 50px;
}

.recipe-preview {
  background-color: var(--recipe-bg);
  color: white;
  border-radius: calc(var(--recipe-card-height) / 2);
  padding: 10px 150px;
  text-decoration: none;
  font-size: 50px;
}

.recipe-preview:hover {
  opacity: .75;
}

.recipe-form {
  color: white;
  display: grid;
  padding: 20px;
  background-color: var(--recipe-bg);
}

.recipe-card {
  background-color: var(--recipe-bg);
  color: white;
}

.tweak-card {
  background-color: var(--title-card-bg);
  color: white;

  border-radius: calc(var(--title-card-height) / 2);
  padding: 10px 25px;
  font-size: 30px;
}